.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 300px;
}

.like-button img {
width: 24px;
height: 24px;
}

.movie-item img {
    height: 300px;
    width: 200px;
}

.movie-item button img {
    height: 20px;
    width: 20px;
}

.movie-item button {
    background-color: rgb(194, 194, 194);
}