.search-button {
    background-color:#282c34;
    margin-left: 20px;
    border: none;
}

.clear-button {
    background-color: #282c34;
    margin-left: 20px;
    border: none;
}

.search-div {
    color: black;
}


.search-bar {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 25px;
    width: 250px;
    color: black;
}


