.search-button {
    background-color: transparent;
    border: none;
}

.clear-button {
    background-color: transparent;
    border: none;
}

.search-bar {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    height: 25px;
    width: 250px;
    color: white;
}


